.q-expansion-item:not(.menu-item){
    border-radius: $space-2;
    border: 1px solid $color-outline;
    background-color: $color-surface;
    &.q-expansion-item--expanded{
        .q-expansion-item__container{
            .q-item{
                background-color: $neutral-95;
            }
        }

    }
    &:not(.q-expansion-item--expanded){
         &:hover{
            background-color: $neutral-99;
         }
    }
    .q-expansion-item__container{
        .q-item{
            padding: $space-3 $space-4;
            width: 100%;
            height: 100%;
            min-height: unset;
            margin-bottom: $spacing-none;
            .q-item__section--side{
                padding: unset;
            }
            .q-item__section{
                &.q-item__section--main{
                    flex: 1;
                }
                .q-item__label{
                    color: $color-text1;
                    @include typo-label-1;
                }
                .q-icon{
                    &.q-expansion-item__toggle-icon{
                        color: transparent;
                        transform: rotate(-90deg);
                        color: white;
                        &::after{
                            content: "\e904";
                            color: $neutral-20;
                            font-family: OMS-Icon;
                            position: absolute;
                        }
                        &.q-expansion-item__toggle-icon--rotated{
                            transform: rotate(0deg);
                        }
                    }

                }
            }
            &.q-hoverable:hover {
                .q-focus-helper{
                    background: transparent;
                    opacity: 0;
                }
                .q-focus-helper:after{
                    opacity: 0 !important;
                }
            } 
        }

        .q-expansion-item__content{
            & > * {
                padding: $space-4;
            }
        }
    }
}

.body--dark{
    .q-expansion-item:not(.menu-item){
        background-color: $dark-surface;
        border-color: $dark-outline;
        &.q-expansion-item--expanded{
            .q-expansion-item__container{
                .q-item{
                    background-color: $neutral-dark-40;
                }
            }
    
        }
        &:not(.q-expansion-item--expanded){
            &:hover{
                background-color: $neutral-dark-40;
            }
       }
        .q-expansion-item__container{
            .q-item{
                .q-item__section{
                    .q-item__label{
                        color: $color-white;
                    }
                    .q-icon{
                        &:not(.q-expansion-item__toggle-icon){
                            color: $color-white;
                        }
                        &::after{
                            color: $color-white;
                        }
                    }
                }
            }

            .q-expansion-item__content{
                color: $color-white;
            }
        }
    }
}